#mongoDB 

MONGODB_USERNAME=<user>
MONGODB_PASSWORD=<password>
MONGODB_CLUSTER =<cluster name>
MONGODB_APPNAME=<appname>
#if connecting to mongo Atlas
MONGODB_URI="mongodb+srv://${MONGODB_USERNAME}:${MONGODB_PASSWORD}@${MONGODB_CLUSTER}/?appName=${MONGODB_APPNAME}"
MONGODB_DATABASENAME=RealtimeChat-DB

#jwt
JWT_SECRET_KEY= your_jwt_secret_key
JWT_EXPIRATION_TIME= your_jwt_exparation

#server
PORT=<port number>